
a.logo {
    font-family: monospace;
    font-size: x-large;
    font-style: italic;
}

h1.title{
    color: #5EB551;

}

p.presentation{
    font-family: monospace;
    font-style: italic;
    font-size: larger;
    /*text-shadow: 18px 15px 20px black;*/
}

footer{
    color: #5EB551;

}